 body {
    background-color: #f8f2ff;
    width:100%;
    height:200%;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

* {box-sizing: border-box;
   font-weight:normal;
  }
  
.center{
  margin-left: auto !important;
  margin-right: auto !important;
}

#close{
	width:60px;
	height:60px;
	position:absolute;
	top:-20px;
	right:-20px;
	border:5px solid;
	border-radius:50px;
}

#confirm-popup {
	overflow:visible;
	padding-bottom:10px;
    z-index: 5;
	width:80%;
	min-width: 320px;
	max-width:640px;
	position:fixed;
	left:10%;
	bottom:40%;
}

#darkscreen{
  position:fixed;
  top:0px;
  left:0px;
  z-index:4;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.7;
}

.deletebutton{
  width:100%;
  display:none;
}

.error{
  border: 2px solid FIREBRICK;
  box-shadow: 0 0 8px 3px FIREBRICK;
}

/* Custon file upload */
.file-upload{
	display:inline-flex;
	align-items:center;
	font-size:15px;
}

.file-upload__input{
	display:none;
}

.file-upload__button{
	-webkit-appearance: none;
	background: #009879;
	border:2px solid #00745d;
	border-radius:4px;
	outline:none;
	padding:0.5em 0.8em;
	margin-right:10px;
	color:#ffffff;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
}

.file-upload__button:active{
	background:#00745d;
}

.file-upload__label{
	display:inline-block;
    max-width:250px;
    font-size:1em;
	vertical-align: sub;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;	
}

.hidden {display: none;}

#imgPreview0,#imgPreview1,#imgPreview2 {
	margin:0 0 10px 0;
	position:relative;
	padding-top:66.6%;
    background-repeat: no-repeat;
    background-size: 100%;
	background-position:center;
    justify-content: center;
    object-fit: cover;
	width:100%;
}

.main {
  margin-top:20px;
  position:relative;
  width:100%;
  z-index : 0;
  margin-bottom:10px;
  background:#fefefe;
  border:0px !important;
  border-radius:0 !important;
  box-shadow: 0px 3px 10px #cccccc !important;
}

.main .panel-heading{padding:3.5px 0;border-radius:0;}

.main h5, p{margin:0;word-wrap:break-word;white-space:pre-wrap;}

.main .display{
  padding-top:66.6%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  overflow:auto;
  width:100%;
  position:relative;
  left:0;
  justify-content: center;
  object-fit: cover;
}

.main .comment{
	width:100%;
	background-color:#ffffff;
	padding:5px;
	border-radius:2px;
	word-wrap:break-word;
	white-space:pre-wrap;
}	


#map-popup {
	overflow:visible;
	padding-top:10px;
    z-index: 5;
	width:90%;
	min-width: 320px;
	position:fixed;
	bottom:15%;
}

#mySidebar tr{
	display:block;
	border:0px;
}

#mySidebar td{
	display:inline-block; 
	width:255px; 
}

#settingbubble {
	z-index:11;
    position: fixed;
	right:5px;
	top:75px;
    background: #eeeeee;
    color: black;
    font-size: 20px;
    line-height: 120px;
    text-align: center;
    width: 100px;
    height: 65px;
    border-radius: 10px;
    padding: 0px;
}
#settingbubble:after {
	z-index:11;
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 0 20px 20px;
    top: -20px;
    left: 50%;
    margin-left: -20px;
}

#mySidebar{
	display:none; 
	position:fixed; 
	top:75px;
	background-color:#e6e6e6;
	width:300px;
	height:100%;
	border:1px solid #cccccc;
	overflow:auto;
	z-index: 3;
}

.tab{
	display:inline-block;
	float:left;
	width:20% !important;
	height:36px;
	margin-left:5% !important;
	text-align:left !important;
	color:black;
	background-color: #d9d9d9;
	font-size:1em;
	cursor: pointer;
}

.tab:before {
	content: '';
	position: relative;
	top:-30px;
	left:-15px;
	width: 0;
	height: 0;
	border-style:solid;
    border-width: 0 0 50px 15px;
    border-color: transparent transparent #d9d9d9 transparent;
}


.active{
	text-decoration:none;
	font-weight:bold;
    color: white;
	display:inline-block;
	background-color: #717171;
	font-size:1em;
	cursor: pointer;
}

.active:before {
	content: '';
	position: relative;
	top:-30px;
	left:-15px;
	width: 0;
	height: 0;
	border-style:solid;
    border-width: 0 0 50px 15px;
    border-color: transparent transparent #717171 transparent;
}

.toptext{
	font-family:微軟正黑體;
	padding-left: 10px;	
    font-weight: normal;
}


.mySlides {display: none;}

