 
body {
    background-image: linear-gradient(#f2e6ff, #f2e6ff);
    width:100%;
    height:200%;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.toptext{
	font-family:微軟正黑體;
	padding-left: 10px;	
    font-weight: normal;
}

#settingbubble {
	z-index:11;
    position: fixed;
	right:5px;
	top:60px;
    background: #dfdfdf;
    color: black;
    font-size: 20px;
    line-height: 120px;
    text-align: center;
    width: 100px;
    height: 65px;
    border-radius: 10px;
    padding: 0px;
}
#settingbubble:after {
	z-index:11;
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #dfdfdf transparent;
    border-width: 0 20px 20px;
    top: -20px;
    left: 50%;
    margin-left: -20px;
}


#mySidebar{
	display:none; 
	position:relative; 
	top:57.5px;
	background-color:#e6e6e6;
	width:300px;
	height:100%;
	border:1px solid #cccccc;
	overflow:auto;
	z-index: 3;
}

#mySidebar tr{
	display:block;
}

#mySidebar td{
	display:inline-block; 
	width:255px; 
}

#close{
	width:60px;
	height:60px;
	position:absolute;
	top:-20px;
	right:-20px;
	border:5px solid;
	border-radius:50px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.tab{
	display:inline-block;
	padding:0px;
	float:left;
	width:20%;
	height:36px;
	color:black;
	background-color: #d9d9d9;
	font-size:1em;
}

.tab:before {
	content: '';
	position: relative;
	top:-25px;
	left:-10px;
	width: 0;
	height: 0;
	border-style:solid;
    z-index:10px;
    border-width: 0 0 36px 10px;
    border-color: transparent transparent #d9d9d9 transparent;
}


.active{
	text-decoration:none;
	font-weight:bold;
    color: white;
	display:inline-block;
	background-color: #717171;
	font-size:1em;
}


.active:before {
	content: '';
	position: relative;
	top:-25px;
	left:-10px;
	width: 0;
	height: 0;
	border-style:solid;
    z-index:10px;
    border-width: 0 0 36px 10px;
    border-color: transparent transparent #717171 transparent;
}

.main {
  margin-top:20px;
  position:relative;
  width:380px;
  z-index : 0;
  margin-bottom:10px;
  background:#fefefe;
  border:0px !important;
  box-shadow: 0px 3px 10px #888888 !important;
}

.main .panel-heading{background-color:#004d99 !important;}


.main img{
  width:360px;
  height:250px;
  position:relative;
  left:-5px;
  object-fit: cover;
}

.main .comment{
	width:100%;
	background-color:#ffffff;
	padding:7.5px;
	border-radius:2px;
}	

#darkscreen{
  position:fixed;
  top:0px;
  left:0px;
  z-index:4;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.7;
}

#pop-up {
	overflow:visible;
	padding-bottom:15px;
    z-index: 5;
	position:fixed;
	left:10%;
	top:80px;
	width:80%;
	text-align:left;
}

#map-popup {
	overflow:visible;
	padding-bottom:15px;
    z-index: 5;
	width:380px;
	padding-top:10px;
	padding-bottom:0px;
	position:absolute;
	bottom:10%;
	left:0px;
}

#confirm-popup {
	overflow:visible;
	padding-bottom:15px;
    z-index: 5;
	width:380px;
	padding-top:10px;
	padding-bottom:0px;
	position:absolute;
	bottom:30%;
	left:0px;
}

#imgPreview {
	position:relative;
	left:-5px;
	width:360px;
	height:250px;
	object-fit: cover;
}


.hidden {
display: none;
}

* {box-sizing: border-box;}
.mySlides {display: none;}

img.slideshow {
	margin-left:82px;
	position:relative;
	left:-72px;
	display:block;
	width:380px;
	height:230px;
}


/* Slideshow container */
.slideshow-container {
  display: block;
  width:100%;
  height: 230px;
  position: relative;
  top:75px;
  background-color: black;
}


/* The dots/bullets/indicators */
.dot {
  position:relative;
  top:65px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

	
	
